App_WebReferences/VideoViewCount/ServiceUpdateAdView.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateVideoViews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateVideoViewsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateVideoViewsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateVideoViews" />
  </wsdl:message>
  <wsdl:message name="UpdateVideoViewsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateVideoViewsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateVideoViewsHttpGetIn">
    <wsdl:part name="strParam" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateVideoViewsHttpGetOut" />
  <wsdl:message name="UpdateVideoViewsHttpPostIn">
    <wsdl:part name="strParam" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateVideoViewsHttpPostOut" />
  <wsdl:portType name="ServiceUpdateAdViewSoap">
    <wsdl:operation name="UpdateVideoViews">
      <wsdl:input message="tns:UpdateVideoViewsSoapIn" />
      <wsdl:output message="tns:UpdateVideoViewsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceUpdateAdViewHttpGet">
    <wsdl:operation name="UpdateVideoViews">
      <wsdl:input message="tns:UpdateVideoViewsHttpGetIn" />
      <wsdl:output message="tns:UpdateVideoViewsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceUpdateAdViewHttpPost">
    <wsdl:operation name="UpdateVideoViews">
      <wsdl:input message="tns:UpdateVideoViewsHttpPostIn" />
      <wsdl:output message="tns:UpdateVideoViewsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceUpdateAdViewSoap" type="tns:ServiceUpdateAdViewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateVideoViews">
      <soap:operation soapAction="http://tempuri.org/UpdateVideoViews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceUpdateAdViewSoap12" type="tns:ServiceUpdateAdViewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateVideoViews">
      <soap12:operation soapAction="http://tempuri.org/UpdateVideoViews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceUpdateAdViewHttpGet" type="tns:ServiceUpdateAdViewHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UpdateVideoViews">
      <http:operation location="/UpdateVideoViews" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceUpdateAdViewHttpPost" type="tns:ServiceUpdateAdViewHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UpdateVideoViews">
      <http:operation location="/UpdateVideoViews" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUpdateAdView">
    <wsdl:port name="ServiceUpdateAdViewSoap" binding="tns:ServiceUpdateAdViewSoap">
      <soap:address location="http://localhost:49388/new_camp_08_12/ServiceUpdateAdView.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceUpdateAdViewSoap12" binding="tns:ServiceUpdateAdViewSoap12">
      <soap12:address location="http://localhost:49388/new_camp_08_12/ServiceUpdateAdView.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceUpdateAdViewHttpGet" binding="tns:ServiceUpdateAdViewHttpGet">
      <http:address location="http://localhost:49388/new_camp_08_12/ServiceUpdateAdView.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceUpdateAdViewHttpPost" binding="tns:ServiceUpdateAdViewHttpPost">
      <http:address location="http://localhost:49388/new_camp_08_12/ServiceUpdateAdView.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>